SOCRATA_RESOURCE_ID=<1pw Service Bot>
GITHUB_ACCESS_TOKEN=<1pw Github Access Token Service Bot>
SOCRATA_ENDPOINT=<endpoint from 1PW Socrata Key ID, Secret and Token>
SOCRATA_API_KEY_ID=<apikeyId from 1PW Socrata Key ID, Secret and Token>
SOCRATA_API_KEY_SECRET=<apiKeySecret from 1PW Socrata Key ID, Secret and Token>
SOCRATA_APP_TOKEN=<appToken from 1PW Socrata Key ID, Secret and Token>
KNACK_API_KEY=<appkey from 1PW Knack DTS Portal>
KNACK_APP_ID=<apiId from 1PW Knack DTS Portal>
KNACK_DTS_PORTAL_SERVICE_BOT_USERNAME=<username from 1PW Knack DTS Portal>
KNACK_DTS_PORTAL_SERVICE_BOT_PASSWORD=<password from 1PW Knack DTS Portal>
