SOCRATA_RESOURCE_ID=
ZENHUB_ACCESS_TOKEN=
GITHUB_ACCESS_TOKEN=
SOCRATA_ENDPOINT=
SOCRATA_API_KEY_ID=
SOCRATA_API_KEY_SECRET=
SOCRATA_APP_TOKEN=
KNACK_API_KEY=
KNACK_APP_ID=
KNACK_DTS_PORTAL_SERVICE_BOT_USERNAME=
KNACK_DTS_PORTAL_SERVICE_BOT_PASSWORD=
